# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/

# Django
db.sqlite3
media/

# IDEs
.idea/
.vscode/

# Cache
afip_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Migrations cache
**/__pycache__/

# PyCharm
*.iml